.card-day {
    width: 300px;
    min-height: 350px;
    border-radius: 5px;
    background-color: var(--drb-card-bg);
    margin: 1rem;
    place-self: center;
    overflow: hidden;
    user-select: none;
    align-self: baseline;
    display: flex;
    flex-direction: column;
    @extend .smoothPointer;
    &.active {
        outline: 1px solid var(--drb-Main-Color);
    }
    &.blur {
        filter: blur(1.5px);
        &:hover {
            filter: unset;
        }
    }
    &:hover {
        transform: scale(.98);
    }
    @media (max-width: 1366px) {
        & {
            width: 250px;
            min-height: 300px;
        }
    }
    .head {
        @extend .center-f;
        justify-content: space-between;
        height: 60px;
        border-radius: 5px 5px 0 0 ;
        background-color: var(--drb-Main-Color);
        color: var(--drb-primary-text);
        padding-inline: 1.35rem;
        h3 {
            font-size: 1.45em;
            font-weight: 400;
            line-height: 20px;
            text-transform: capitalize;
            @media (max-width: 1366px) {
                & {
                    font-size: 1.25em;
                }
            }
        }
    }
    .task-container {
        width: 100%;
        min-height: calc(350px - 60px);
        padding: .65rem;
        @media (max-width: 1366px) {
            & {
                min-height: calc(300px - 60px);
            }
        }
        .task {
            @extend .center-f;
            height: 30px;
            width: 250px;
            background-color: var(--drb-task-bg);
            padding-inline: .45rem;
            border-radius: 5px;
            &:not(:last-child) {
                margin-bottom: .45rem;
            }
            @media (max-width: 1366px) {
                & {
                    height: 25px;
                    width: 220px;
                }
            }
            img {
                height: 20px;
                margin-right: .45rem;
            }
            p {
                color: var(--drb-secondart-text);
                font-size: .9em;
            }
            &.done {
                background-color: var(--drb-task-done);
                filter: brightness(1.15);
                p {
                    text-decoration: line-through;
                }
            }
            &.undone {
                background-color: var(--drb-task-undone);
                filter: brightness(1.15);
            }
        }
    }
}